*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    cursor: pointer;
}

address {
    font-style: normal;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

svg {
    vertical-align: middle;
    overflow: hidden;
}

ul,
ol {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
}

.page__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

.visuallyHidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
