/* Vars */
@import "../../styles/vars/vars.css";

.container {
    background-color: #2d2c2c;
    padding: 50px 10px;
    margin: 0 auto;
    width: 50%;
}

.taskWrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media screen and (max-width: 1000px) {
    .container {
        width: 98%;
    }
}
